{% set blockClass = 'menuLeft' %}

{% set mainMenuData = [
    {title: 'Работы', type: 'projects'},
    {title: 'Группы работ', type: 'projectsGroups', link: '/projectsGroups.html'},
    {title: 'Склады', type: 'stock'},
    {title: 'Каталоги оборудования', type: 'equipment'},
    {title: 'План поставок', type: 'workPlan'},
    {title: 'Центральный заказ', type: 'order'},
    {title: 'Остатки на дистрибьютерах', type: 'balance', link: '/balances_goods.html'},
    {title: 'План работ', type: 'calendar'},
    {title: 'Справочники', type: 'vocabulary', link: '/vocabulary.html'},
    {title: 'Аналитика', type: 'analytics'},
] %}

{% set activeModifier = 'active' %}

<div class="{{ blockClass }} {{ parentClass ? bem(parentClass, blockClass) }}">
    <ul class="{{ bem(blockClass, 'list') }}">
        {% for item in mainMenuData %}
            <li class="{{ bem(bem(blockClass, 'item'), [
                item.type | trim,
                activeMainMenuItem == item.type ? activeModifier | trim : ''
            ]) }}">
                <a href="{{ item.link|default('#') }}" class="{{ bem(blockClass, 'link') }}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
