{% set blockClass = 'tabs' %}

<div class="{{ blockClass }} {{ parentClass ? bem(parentClass, blockClass) }}">
    <ul class="{{ bem(blockClass, 'list') }}">
        {% for item in tabs %}
            <li class="{{ bem(bem(blockClass, 'item'), [item.active ? 'active' : '']) }}">
                <a href="{{ item.link|default('#') }}" class="{{ bem(blockClass, 'link') }}">
                    <span class="{{ bem(blockClass, 'caption') }}">{{ item.caption }}</span>
                    {% if item.counter %}<span class="{{ bem(blockClass, 'counter') }}">{{ item.counter }}</span>{% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
